POSTGRES_DB=order_db
POSTGRES_USER=order_user
POSTGRES_PASSWORD=<password>

DB_HOST=order-db
DB_PORT=5432
DB_NAME=order_db
DB_USERNAME=order_user
DB_PASSWORD=<password>

SERVER_HOST_PORT=<port number>