apiVersion: v1
kind: Secret
metadata:
  name: order-secret
type: Opaque
stringData:
  DB_USERNAME: "order_user"
  DB_PASSWORD: "example_password"
  POSTGRES_DB: "order_db"
  POSTGRES_USER: "order_user"
  POSTGRES_PASSWORD: "example_password"